body {
	background-color:#000000;
}

p {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-size:14px;
}

li {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-size:14px;
}

td {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-size:14px;
}
th {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-size:14px;
	font-weight: bold;
	text-align:center;
}
a:visited {
	color:#FFFFFF;
	text-decoration:none;
}
a {
	color:#FFFFFF;
	text-decoration:none;
}
a:hover {
	color:#FFFFFF;
	text-decoration:underline;
}
.button {
	background-color:#00639A;
	border:0;
	font-size:14px;
	color:#FFFFFF;
}
.green {
	color:#00C000;font-weight:bold;
}
.red {
	color:#FF0000;
	font-weight:bold;
}
.tableborder{
	border-width:1px; 
	border-color:#808080; 
	border-style:solid;
}
.maxheight {
	border-width:1px; 
	border-color:#808080; 
	border-style:solid;
	height:100%;
}
.big{
	font-size:large;
	}
option {
	background-color: #999999;
}
/* CSS Document */

