H1, H2, H3 {
   font-family : "Verdana", "Times New Roman", "Arial", "Helvetica", Sans-serif;
   background : transparent;}

H1 {
   font-weight : bold;
   font-size : 20pt;
   text-transform : uppercase;
   color : #FF0000; }


H2 {
   font-weight : normal;
   font-size : 10pt;
   color : #000000;}

H3 {
   font-weight : bold; 
   font size : 13pt;
   color : #0000FF;
   background : #BBBBBB;}

H4 {
   font-weight : bold;
   font size : 13pt;
   color : #FFFF00;} 


A:visited {
   color : #0000FF;
   background : transparent;
   text-decoration : none;}

A:link {
   color : #0000FF;
   background : transparent;
   text-decoration : none;}


A:hover {
   color : #FF0000;
   background : transparent;
   text-decoration : underline;}


A:active {
   color : #FF0000;
   background : transparent;
   text-decoration : none;}


.reg {
font-size : medium;}


BODY {
   font-family : "Verdana", "Times New Roman", "Arial", "Helvetica", Sans-serif;
   font-size : 14;
   color : #000000;
   margin: 0em 0em 0em 0em;}

