<section>
  <h1>About Me</h1>

	<img src="/images/portrait.jpg" alt="My portrait">

  <p>My name is Chris Keavey.</p>
  <p>I am passionate about Website Development and love the direction that the industry is heading in. I am a self-confessed gadget freak and love all things tech.</p>
  <p>I live in Bristol in the United Kingdom and if you'd like to get in touch regarding a website project you need help with, you can contact me at <a href="mailto:chris@chriskeavey.com?subject=Mail%20from%20Octopress">chris@chriskeavey.com</a></p>
</section>
